.search-btn{
    border: none;
    border-radius: 1em;
    font-size: 1em;
    background-color: var(--txt-color);
    color: var(--dark-txt-color);
    padding: 0.6em;
    transition: 0.3s ease;
}
.search-btn:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: var(--dark-txt-color);
    color: var(--txt-color);
}